body{
    background: url("../img/bg.png") repeat-x;
    /*height: 3000px;*/
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.w{
    width: 940px;
    margin: 0 auto;
}

.header{
    /*background-color: #bbffaa;*/
    padding-top: 37px;
    padding-bottom: 46px;
}

.logo{
    margin-left: 15px;
}

.nav{
    float: right;
    margin-top: 22px;
}

.nav li{
    float: left;
    padding: 0px 10px;
    border-left: 1px dotted #b6b6b6;
    padding-bottom: 10px;
}


.nav a{
    color: #666;
    font: bold 14px Georgia ;
    text-decoration: none;
}

.nav a:hover{
    color: #a1a1a1;
    text-decoration: underline;
}

.nav p{
    color: #b7b7b7;
    font: 11px Tahoma;

}
.content{
    /*background-color: #bfa;*/
}

.shad{
    height: 15px;
    background: url("../img/shadow.png") repeat-x;
}



.content h1{
    text-align: center;
    font: bold 24px Georgia;
    padding: 6px 0 20px 0;
    background: url("../img/line.png") center bottom no-repeat;
    margin-bottom: 38px;
}

.cs, .pl, .uc,
.contact .co, .contact .nu, .contact .sc{
    /*background-color: #abc;*/
    /*height: 100px;*/
    width: 300px;
    float: left;
}

.cs, .contact .co{
    margin: 0 20px;
}

.content h2{
    color: #11719e;
    font: 21px Georgia;
    
}

.content p{
    color: #000;
}

.imgDiv{
    width: 299px;
    height: 202px;
    background: url("../img/img-bg.png") no-repeat;
    margin-top: 20px;
    margin-bottom: 15px;
}

.imgDiv img{
    padding-top: 12px;
    padding-left: 5px;
}

.p1{
    color: #8c8c8c;
    font: 12px Helvetica;
}

.p2{
    height: 92px;
    color: #3e3e3e;
    font: 13px Helvetica;
    word-spacing: 2px;
}

.lm{
    display: block;
    width: 163px;
    height: 40px;
    background: url(../img/sprite.png) no-repeat 0 -70px;
    text-decoration: none;
    color: #016999;
    font: 12px/40px Helvetica;
    text-indent: 1em;
    margin-bottom: 35px;
}

.contact .co, .contact .nu, .contact .sc{
    /*height: 300px;*/
    /*color: #999;*/
}

.txt{
    width: 276px;
    height: 33px;
    background: url("../img/input.png") no-repeat;
    border: none;
    margin-bottom: 10px;
    padding: 0 10px;
}
.tarea{
    width: 276px;
    height: 114px;
    background: url("../img/textarea.png") no-repeat;
    border: none;
    resize: none;
    padding: 10px;

}

.contact h2{
    color: #444;
    font: 18px/1 Georgia;
    border-bottom: 1px dashed #d3d3d3;
    padding: 44px 0px 10px;
    margin-bottom: 15px;
    text-indent: 5px;
}


.btn{
    width: 163px;
    height: 32px;
    background: url("../img/sprite.png") no-repeat 0 -27px;
    margin: 11px 0px 23px;
    border: none;
    text-align: left;
    text-indent: 1em;
    cursor: pointer;
    color: white;
}
.footer{
    height: 173px;
    background: #333;
    border-top: 10px solid #4c4c4c;

}
